* {
    margin: 0;
    padding: 0;

}

/* diseño del menu*/

nav {

    background-color: #1e172f;
    display: flex;
    justify-content: space-between;
    height: 62px;
}

ul {

    display: flex;
    gap: 30px;

}

li {

    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 0px;

}

li a {

    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
}


.menu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 20px 0;
    margin-left: 380px;
    font-size: 20px;

}

.boton button {

    margin: 0px;
    padding: 15px 28px;
    font-size: 15px;
    background: linear-gradient(to right, #8640d5, #0a7cd5);
    border-radius: 5px;
    border: none;
    color: #ffffff;

}

nav img {
    margin-left: 120px;
    margin-top: 2px;
}

/* diseño de la parte 1*/

.caja1 {

    display: flex;
    justify-content: space-between;
    background-image: url(../assets/images/hojasFondo.jpg);
    background-position: 410px -77px;
    background-size: 1200px;
    background-repeat: no-repeat;

}

.izquierda1 {

    height: 650px;
    width: 48%;
    align-items: center;
    background-color: #2e2550;
    color: #ffffff;

}

.izquierda1 h1 {
    font-size: 80px;
    margin-top: 180px;
    margin-left: 130px;
    line-height: 1.5;

}

.izquierda1 p {
    font-size: 25px;
    margin-top: 30px;
    margin-left: 130px;
    line-height: 1.5;
}

.botones {

    display: flex;
    gap: 7px;
    margin-top: 30px;
    margin-left: 130px;
    padding: 10px 9px;
    font-size: 15px;
    border-color: rgba(253, 253, 253, 0.1);
    border: 2.5px solid rgba(253, 253, 253, 0.1);
    border-radius: 5px;
    margin-right: 153px;

}

.botones button {

    margin: 0px;
    border-radius: 5px;
    border: none;

}

.boton1 button {

    background-color: rgb(255, 255, 255);
    color: #ed71b1;
    padding: 10px 25px;
    border-radius: 7px;
    height: 100%;
    width: 180px;
    inline-size: center;
    font-size: 17px;
}

.boton2 button {

    background-color: #2e2550;
    border: 2.5px solid rgba(253, 253, 253);
    color: #ffffff;
    font-size: 15px;
    padding: 15px 28px;
    border-radius: 7px;
    height: 100%;
    width: 150px;

}

.derecha1 img {

    height: 70%;
    width: 41%;
    margin-top: 140px;
    margin-right: 250px;

}

/* diseño de la parte 2 */

.caja2 {

    height: 490px;
    width: 100%;
}

.izquierda2 img {

    height: 80%;
    width: 65%;
    margin-top: -70px;
    margin-left: 170px;

}

.centro h2 {

    font-size: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 475px;
    color: #f41486
}

.mover {

    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    align-items: center;

}

.derecha2 {

    height: 500px;
    width: 50%;
    margin-top: 30px;
    margin-right: 200px;
    font-size: 20px;

}

.derecha2 p {

    margin-top: 30px;
    margin-left: 0px;
    line-height: 1.5;

}

.derecha2 h2 {

    margin-top: 30px;
    margin-left: 0px;
    line-height: 1.5;
    font-size: 35px;
    color: #c3528c;

}

.derecha2 h3 {

    margin-top: 5px;
    margin-left: 0px;
    line-height: 1.5;
    font-size: 24px;
    color: #c3528c;

}

.derecha2 ul {
    display: flex;
    line-height: 1.0;
    font-size: 18px;
    flex-direction: column;
    gap: 4px;

}

/* diseño de la parte 3 */

.caja3 {
    background-color: #1f172f;
}

.caja3 h2 {

    color: #ffffff;
    font-size: 55px;

}

.texto3 p {

    color: #7d758b;
    font-size: 18px;
    padding: 40px 320px;
    text-align: center;



}

.texto3 h2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;

}

.contenedores {

    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 210px;
    margin-right: 200px;

}

/* diseño de la parte 3 */

.caja3 {

    background-color: #1f172f;
    padding-top: 25px;
    height: 880px;

}

.caja3 h2 {

    color: #ffffff;
    font-size: 40px;

}

.texto3 p {

    color: #aea7bb;
    font-size: 19px;
    padding: 30px 290px;
    ;
    text-align: center;
    line-height: 1.2;

}

.texto3 h2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    font-size: 60px;

}

.contenedores {

    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;

}


/* diseño del contenedor 1 */

.contenedor1 {

    background-color: #ffffff;
    height: 580px;
    width: 300px;
    border-radius: 5px;
    text-align: center;

}

.contenedor2 {

    background-color: #ffffff;
    height: 580px;
    width: 300px;
    border-radius: 5px;
    text-align: center;

}

.contenedor3 {

    background-color: #ffffff;
    height: 580px;
    width: 300px;
    border-radius: 5px;
    text-align: center;

}


/* imagenes */

.contenedor1 img {

    width: 85px;
    height: 85px;
    margin-top: 15px;

}

.contenedor2 img {

    width: 90px;
    height: 85px;
    margin-top: 15px;

}

.contenedor3 img {

    width: 85px;
    height: 85px;
    margin-top: 15px;

}


/* nombres de los planes */

.contenedor1 h3 {

    color: #f03294;
    font-size: 17px;
    padding-bottom: 12px;

}

.contenedor2 h3 {

    color: #30304a;
    font-size: 17px;
    padding-bottom: 12px;

}

.contenedor3 h3 {

    color: #30304a;
    font-size: 17px;
    padding-bottom: 12px;

}


/* precios */

.precio {

    font-size: 38px;
    padding: 10px 5px;
    text-align: center;

}

.precio1 {

    background-color: #f5f5f5;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.precio2 {

    background-color: #f5f5f5;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.precio3 {

    background-color: #f5f5f5;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.texto {

    font-size: 18px;
    margin-top: -10px;
    color: #555555;

}


/* listas */

.contenedor1 lul {

    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    padding: 20px 35px 10px;

}

.contenedor2 lul {

    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    padding: 20px 35px 10px;

}

.contenedor3 lul {

    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    padding: 20px 35px 10px;


}

.contenedor1 lul li {

    list-style: none;
    font-size: 18px;
    margin: 0px;
    color: #555555;


}

.contenedor2 lul li {

    list-style: none;
    font-size: 18px;
    margin: 0px;
    color: #555555;

}

.contenedor3 lul li {

    list-style: none;
    font-size: 18px;
    margin: 0px;
    color: #555555;

}


/* texto */

.contenedor1 p {

    text-align: left;
    font-size: 17px;
    line-height: 1.3;
    padding: 15px 55px;
    color: #555555;

}

.contenedor2 p {

    text-align: left;
    font-size: 17px;
    line-height: 1.3;
    padding: 15px 55px;
    color: #555555;

}

.contenedor3 p {

    text-align: left;
    font-size: 17px;
    line-height: 1.3;
    padding: 15px 55px;
    color: #555555;
}


/* botones */

.contenedor1 .boton1 {

    margin-top: 12px;

}

.contenedor2 .boton2 {

    margin-top: 12px;

}

.contenedor3 .boton3 {

    margin-top: 12px;

}

.boton1 {

    background-color: #ebebeb;
    height: 53px;

}

.boton2 {

    background-color: #ebebeb;
    height: 53px;

}

.boton3 {

    background-color: #ebebeb;
    height: 53px;

}

.contenedor1 .boton1 button {

    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ed4fa4;
    color: white;
    font-size: 15px;
    width: 150px;
    height: 45px;

}

.contenedor2 .boton2 button {

    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #302552;
    color: white;
    font-size: 15px;
    width: 150px;
    height: 45px;

}

.contenedor3 .boton3 button {

    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #302552;
    color: white;
    font-size: 15px;
    width: 150px;
    height: 45px;

}

/* footer */

footer {

    background-color: #ffffff;
    height: 75px;
    display: flex;
    align-items: center;
    padding-left: 130px;
    margin-top: 60px;

}

footer p {

    font-size: 20px;
    color: #666666;
    margin-left: 20px;

}

.redes {


    right: 130px;
    margin-top: -52px;
    display: flex;
    gap: 18px;
    justify-content: space-between;
    margin-left: 460px;

}

.redes img {

    margin-top: 52px;
    width: 22px;
    height: 22px;

}

/* media queries */


/* dispositivos hasta 1279px */

@media (max-width: 1279px) {

    .menu {

        margin-left: 400px;
        font-size: 17px;

    }

    nav img {

        margin-left: 90px;

    }

    .izquierda1 h1 {

        font-size: 65px;
        margin-left: 100px;

    }

    .izquierda1 p {

        margin-left: 100px;
        font-size: 20px;

    }

    .botones {

        margin-left: 100px;

    }

    .derecha1 img {

        margin-right: 100px;

    }

    .centro h2 {

        justify-content: column;

    }

    .contenedores {

        gap: 15px;

    }

    .contenedor1,
    .contenedor2,
    .contenedor3 {

        width: 280px;

    }

    .texto3 p {

        padding: 30px 200px;

    }

    footer {

        padding-left: 70px;

    }

    .redes {

        margin-left: 300px;

    }

}

/* dispositivos hasta 920px */

@media (max-width: 920px) {

    .menu {

        margin-left: 150px;
        font-size: 16px;

    }

    nav img {

        margin-left: 50px;

    }

    .izquierda1 h1 {

        font-size: 60px;
        margin-left: 70px;

    }

    .botones {


        width: 320px;

    }

    .boton2 button {

        width: 130px;

    }

    .caja1 {

        height: 650px;
    }

    .izquierda1 p {

        margin-left: 70px;
        font-size: 18px;
        width: 350px;

    }

    .botones {

        margin-left: 70px;

    }

    .derecha1 img {

        width: 300px;
        margin-right: 50px;

    }

    /* parte 2 */

    .centro h2 {

        font-size: 50px;

        margin-left: 300px;

    }

    .izquierda2 img {

        width: 300px;
        margin-left: 50px;

    }

    .derecha2 {

        margin-right: 50px;
        font-size: 17px;

    }

    /* parte 3 */

    .texto3 p {

        padding: 30px 120px;

    }

    .contenedor1,
    .contenedor2,
    .contenedor3 {

        width: 270px;

    }

    /* footer */

    footer {

        padding-left: 50px;

    }

    .redes {

        margin-left: 200px;
        margin-right: 50px;

    }

}


/* dispositivos hasta 768px */

@media (max-width: 768px) {

    nav {

        height: auto;
        padding-bottom: 15px;
        width: 770px;

    }

    nav img {

        margin-left: 30px;
        margin-top: 10px;

    }

    .menu {

        margin-left: 30px;
        margin-right: 30px;
        width: auto;
        font-size: 14px;

    }

    .menu ul {

        gap: 15px;

    }

    .caja1 {

        display: flex;
        height: auto;
        width: 770px;


    }

    .derecha1 img {

        height: 300px;
        width: 150px;
        margin-left: 90px;
        margin-top: 60px;


    }

    .izquierda1 {

        width: 55%;
        height: 400px;
        padding-top: 60px;

    }

    .izquierda1 h1 {

        font-size: 50px;
        margin-left: 50px;
        margin-top: 0px;

    }

    .izquierda1 p {

        margin-left: 50px;
        font-size: 17px;
        width: 400px;

    }

    .botones {

        margin-left: 50px;

    }

    .derecha1 {

        width: 100%;
        height: 400px;

    }




    /* parte 2 */

    .caja2 {

        height: auto;
        padding-bottom: 40px;
        width: 770px;

    }

    .centro h2 {

        font-size: 45px;
        justify-content: column;

    }

    .mover {

        display: block;
        height: auto;

    }

    .izquierda2 {

        width: 100%;
        margin-top: 150px;



    }

    .izquierda2 img {

        width: 300px;


    }

    .derecha2 {

        width: 80%;
        height: auto;
        margin: 20px auto;

    }



    .mover {
        display: flex;
        height: auto;
        justify-content: column;
    }


    /* parte 3 */

    .caja3 {

        height: 2000px;
        padding-bottom: 30px;
        width: 768px;

    }

    .texto3 h2 {

        font-size: 45px;

    }

    .texto3 p {

        padding: 25px 70px;
        font-size: 16px;

    }

    .contenedores {

        display: block;
        margin-left: 0px;
        margin-right: 0px;

    }

    .contenedor1,
    .contenedor2,
    .contenedor3 {

        width: 300px;
        margin: 20px auto;

    }


    /* footer */

    footer {

        padding-left: 30px;

    }

    footer p {

        font-size: 14px;

    }

    .redes {

        margin-left: 200px;
        margin-right: 30px;

    }

}


/* dispositivos hasta 480px */

@media (max-width: 480px) {

    /* menu */

    nav {
        display: flex;
        height: 62px;
        align-items: center;
    }

    nav img {
        margin-left: 50px;
    }

    .menu {
        margin-left: 10px;
        margin-right: 50px;
        padding: 0;
        width: auto;
        font-size: 10px;
    }

    .menu ul {
        gap: 8px;
        flex-wrap: nowrap;
        align-items: center;
    }

    .boton button {
        padding: 8px 10px;
        font-size: 10px;
        margin-top: 10px;
    }


    /* parte 1 */
    .caja1 {
        display: flex;
        height: 460px;
        background-position: center;
        background-size: cover;

    }


    .izquierda1 {
        width: 50%;
        height: 400px;
    }

    .izquierda1 p {
        width: 320px;
        margin-left: 50px;
        font-size: 16px;
    }

    .derecha1 {

        width: 50%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .derecha1 img {

        width: 150px;
        height: auto;
        margin-top: 5px;

    }

    .botones {
        margin-left: 40px;
        width: 310px;
    }

    .boton2 button {
        width: 120px;
    }

    /* parte 2 */

    .caja2 {

        height: auto;
        padding-bottom: 40px;

    }

    .centro h2 {

        font-size: 38px;
        margin-left: 260px;

    }

    .mover {

        display: flex;
        height: auto;
        justify-content: space-between;

    }


    .izquierda2 {

        width: 100%;

    }

    .izquierda2 img {

        width: 260px;
        margin-left: 70px;

    }

    .derecha2 {

        width: 85%;
        height: auto;
        margin: 20px 30px;
        font-size: 15px;

    }

    .derecha2 h2 {

        font-size: 28px;

    }


    /* parte 3 */

    .caja3 {

        height: 2100px;
        padding-bottom: 30px;

    }

    .texto3 h2 {

        font-size: 38px;

    }

    .texto3 p {

        padding: 20px 30px;
        font-size: 15px;

    }

    .contenedores {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }


    /* footer */

    footer {
        height: 50px;
        padding: 15px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    footer p {
        font-size: 15px;
        margin-left: 30px;
    }

    .redes {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        display: flex;
        gap: 12px;
        justify-content: center;
    }

    .redes img {
        margin-top: 0;
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }

}